[user]
    name = Pavel Lishin
    email = pavel.lishin@gmail.com

[core]
    excludesfile = ~/.gitignore
    # Do not ignore case-changes, we're not in Windowsland.
    ignorecase = false

[color]
    ui = auto
    # Highlight trailing spaces, and tabs, which I hate.
    whitespace = trailing-space,space-before-tab,tab-in-indent
    branch = auto
    interactive = auto
    status = auto

[alias]
    st = status
    co = checkout
    cm = commit -m
    ca = commit --amend
    cp = cherry-pick

    # Undo last commit
    oops = reset --soft HEAD~1

    # Pretty log, with one-commit-per-line
    lg = log --pretty=format:'%Cred%h%Creset %Cblue%ci%Creset %s %Cgreen%cn %ce%Creset'
    
    # Pretty tree-like log, with branches and tags hilighted
    lg2 = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen%cn%Creset %Cblue(%cr)%Creset' --abbrev-commit --date=relative

    # log -p with pretty colors
    logp = log -p --word-diff=color

[format]
    # pretty = format:Commit %C(red black)%H %Creset %nAuthor: %an %nDate: %cD %n%n%s %n

[branch]
    autosetuprebase = always

# When running `git push`, only push the current branch.
[push]
    default = current

[pull]
    rebase = true

[merge]
    conflictstyle = diff3

# Highlight pointless trailing white space
[color "diff"]
    whitespace = blue reverse

[diff]
    algorithm = patience
    renames = copies

# When comparing zipped files, unzip them first to compare the contents
[diff "zip"]
    textconv = unzip -c -a

[credential "https://git.flynn-sbx-qa-us-east-1.nexus.bazaarvoice.com"]
	helper = /usr/local/bin/flynn git-credentials
