*.pyc
*.pyo
.DS_Store
._*
*.swp
*~

# emacs crap 
.emacs.d/tramp
.emacs.d/geben/.storage

# Has to be compiled
bin/sshfs

# Don't track me, bro
.bip/logs/*

# iPython history
.ipython/profile_default/history.sqlite
bin/nssh
.ipython
